@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --accent: #2b84d1;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --font-sans: var(--font-open-sans);
    --font-serif: var(--font-noto-serif), "Times New Roman", Georgia, serif;
    --font-fancy: var(--font-manufacturing-consent);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family:
        Open Sans,
        Arial,
        Helvetica,
        sans-serif;
}
