/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap"); */

:root {
    --main-bg-color: brown;
    --mainYellow: #ffc42d;
    --mainBlue: #22cce2;
    --mainBlueTransparent: #22cce241;
    --lightGray: #f3f3f3;
}
